.Navbar {
    margin: 0 0 0 50px;
}

.NavbarBrand {
    text-align: left;
    color: #3b5952!important;
    font-weight: 900;
    font-size: 1.5rem;
}

.NavLink {
    color: #3b5952!important;
    width: 60%;
    margin: 8px 30px;
}

/* Media Queries - Medium screen width */

@media only screen and (max-width: 991px) {
    .NavLink {
        margin: 15px auto 15px 0;
        text-align: left;
    }

    .Navbar {
        margin: 25px;
    }
}