.ul {
    position: absolute;
    right: 10%;
    list-style: none;
    display: inline;
    align-items: flex-start;
}

.li {
    display: inline;
    padding: 5px;
    margin: 10px
}

.navbar {
    margin: 0 30px;
}

.NavbarBrand {
    text-align: left;
    color: #3b5952!important;
}

.NavLink {
    color: #3b5952!important;
    width: 60%;
    text-align: right;
    margin: 8px 30px;
}