/* .ul {
    position: absolute;
    right: 10%;
    list-style: none;
    display: inline;
    align-items: flex-start;
}

.li {
    display: inline;
    padding: 5px;
    margin: 10px
} */

.Navbar {
    margin: 0 50px;
}

.NavbarBrand {
    text-align: left;
    color: #3b5952!important;
    font-weight: 900;
    font-size: 1.5rem;
}

.NavLink {
    color: #3b5952!important;
    width: 60%;
    text-align: right;
    margin: 8px 30px;
}