/* Style for each Row */

.BookDiv {
    padding: 0 5%;
}

/* Style for each Column */

.BookImg {
    display: inline-flex;
    align-items: flex-start; /* vertical within div */
    justify-content: center;
    padding: 10% 7%;
}

.BookDesc {
    display: inline-flex;
    justify-content: center;
    padding: 10% 7%;
}

/* Style for inner HTML of Columns */

.BookImg > img {
    width: 100%;
}

.ListDiv {
    justify-content: left;
    font-size: 2vmin;
    line-height: 3.5vh;
}

.ListDiv > ul {
    list-style: none!important;
    text-align: initial;
    padding: 0
}

/* Media Queries - Mobile size */

@media only screen and (max-width: 768px) {

    /* Style for each Column */

    .BookImg {
        display: inline-flex;
        align-items: flex-start; /* vertical within div */
        justify-content: center;
        margin: 10%;
    }
    
    .BookDesc {
        display: inline-flex;
        justify-content: center;
        margin: 8%
    }

    /* List div styles */

    .ListDiv {
        font-size: small;
        line-height: 1.5rem;
    }

    .ListDiv > ul {
        list-style: none!important;
        text-align: center;
        padding: 0
    }
}