/* Style for each Row */

.BookDiv {
    padding: 0 5%;
}

/* Style for each Column */

.BookImg {
    padding: 10% 7%;
}

.BookDesc {
    padding: 10% 7%;
}

/* Style for inner HTML of Columns */

.BookImg > img {
    width: 100%;
}

.ListDiv {
    justify-content: left;
    font-size: 2vmin;
    line-height: 3.5vh;
}

.ListDiv > ul {
    list-style: none!important;
    text-align: initial;
    padding: 0
}

/* Horizontal rule */

.hr {
    width: 50vw;
    border: none;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

/* Media Queries - Medium screen width */

@media only screen and (max-width: 991px) {

    /* Style for each Column */

    .BookImg {
        padding: 25% 20% 15%;
    }
    
    .BookDesc {
        padding: 13%
    }

    /* List div styles */

    .ListDiv {
        font-size: 1.2rem;
        line-height: 2rem;
    }

    .ListDiv > ul {
        list-style: none!important;
        text-align: justify;
        padding: 0
    }
}

/* Media Queries - Small screen width */

@media only screen and (max-width: 767px) {

    /* List div styles */

    .ListDiv {
        font-size: 0.9rem;
        line-height: 1.5rem;
    }
}