.BookDiv {
    height: 100%;
    min-width: 100%
}

.BookImg {
    height: 100%;
    width: 40%;
    display: inline-flex;
    align-items: center; /* vertical within div */
    justify-content: center;
    vertical-align: middle;
    /* background-color: #f5cac3; */
}

.BookImg > img {
    height: 500px;
    display: flex;
    padding: 0
}

.BookDescLeft {
    height: 100%;
    width: 44%;
    display: inline-flex;
    vertical-align: middle;
    padding: 8%;
}

.BookDescRight {
    height: 100%;
    width: 60%;
    display: inline-flex;
    vertical-align: middle;
    padding: 8% 0
}

.ListDiv {
    width: 60%;
    display: flex;
    vertical-align: middle;
    align-items: center;
    font-size: small;
}

.ListDiv > ul {
    list-style: none!important;
    /* display: inline-block; */
    text-align: initial;
    padding: 0
}