/* 
white: #f7ede2
yellow: #f6bd60
pink: #f5cac3
*/

.contentsDiv {
    display: flex;
    flex-direction: column;
}

.paraDiv {
    display: inline-flex;
    align-items: center;
    color: #3b5952;
}

.paraText {
    padding: 20% 10%;
}

.imgDiv {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f5cac3;
}

.profile {
    border-radius: 50%;
    width: 60%;
    padding: 20% 0;
}